repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run
        types: [go]
        language: system
        pass_filenames: false

      - id: go-unit-tests
        name: Go Unit Tests
        entry: go test -v ./...
        language: system
        pass_filenames: false
        types: [go]